<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Blog Site</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="~/css/styles.css" rel="stylesheet">
    </head>
    <body>
        @RenderBody()
    </body>
</html>