<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Blog Site</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="~/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="~/css/grid.css" rel="stylesheet" type="text/css">
        <link href="~/css/styles.css" rel="stylesheet">

          <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
          <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    </head>
    <body>
        @RenderBody()
      <footer>
      </footer>
    </body>
</html>
