<header>
<nav>
  <div class="row">
    <ul class="main-nav">
      <li><a href="#">Home Blog</a></li>
      <li><a href="/posts/search">Search Blogs</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>
</nav>
<div class="text-box2">
  <h1>@ViewBag.Title</h1>

</div>
</header>
