@using BlogSite.Models;

<header>
<nav>
  <div class="row">
    <ul class="main-nav">
      <li><a href="#">Home Blog</a></li>
      <li><a href="/posts/search">Search Blogs</a></li>
      <li><a href="#">Community</a></li>
      @if(SessionBlog.GetId() == 0)
            {
            <li><a href="/blogs/login">Login</a></li>
            }
            else
            {
            <li><form action="/blogs/logout" method="post"><button type="submit">Logout</button></form></li>
            }
    </ul>
  </div>
</nav>
<div class="text-box2">
  <h1>@ViewBag.Title</h1>

</div>
</header>
