@using BlogSite.Models;
@using System.Collections.Generic;
@{Layout = "_Layout";}
@Html.Partial("Header")

<div class="row">
  <div class="col span-1-of-3 box">
    <div class="form-box-post">
      <form action="/blogs/@Model/posts/new" method="post">
      <div class="col span-1-of-3">
        <ion-icon name="radio-button-off"></ion-icon>
      </div>
      <div class="col span-1-of-3">
        <ion-icon name="radio-button-off"></ion-icon>
      </div>
      <div class="col span-1-of-3">
        <ion-icon name="radio-button-off"></ion-icon>
      </div>
      <br>
      <br>
      <div>
         <label for="title">Blog Title: </label>
         <input required id="title" name="title" type="text">
       </div>
       <br>
       <br>
       <div>
         <label for="content">Content: </label>
         <textarea class= "k-textbox" style="width:100%; height: 148px;" required id="content" name="content" type="text" ></textarea><br>
       </div>
       <!-- image upload -->
       <div>
       <button type="submit" >Save</button>
       </div>
      </form>
    </div>
  </div>
</div>
