@using BlogSite.Models;
@using System.Collections.Generic;
@{Layout = "_Layout";}
@Html.Partial("Header")


<div class="row">
  <div class="col span-1-of-3 box">
    <div class="form-box-post">
      <form action="/posts/search" method="post">
        <div class="col span-1-of-3">
          <ion-icon name="radio-button-off"></ion-icon>
        </div>
        <div class="col span-1-of-3">
          <ion-icon name="radio-button-off"></ion-icon>
        </div>
        <div class="col span-1-of-3">
          <ion-icon name="radio-button-off"></ion-icon>
        </div>
          <label for="search"></label><br>
          <input type="text" name="search" placeholder="Search" required autocomplete="off"/><br>
        <div>
          <button type="Submit">Submit</button>
        </div>
      </form>

          <ul>
          @foreach (Post post in Model)
          {
            <li><a href="/blogs/Model.GetId()/posts/@post.GetId()">@post.GetTitle()</a></li>
          }
        </ul>
    </div>
  </div>
</div>
