@using BlogSite.Models;
@using System.Collections.Generic;
@{Layout = "_Layout";}
@Html.Partial("Header")


<div class="row">
  <div class="col span-1-of-3 box">
    <div class="form-box-post">
    <div class="post-icon">
      <ion-icon name="list-box"></ion-icon>
    </div>
    <div>
      <h2>@Model.GetTitle()</h2><br>
      <h3>@Model.GetDate()</h3>
    </div>
    @if (Model.GetFile() != null )
    {
        <img src='/uploads/@Model.GetFile()'/>
    }
    <div>
      <p>@Model.GetContent()</p>
    </div>



      @if(Blog.FindById(Model.GetBlogId()).IsLoggedIn())
      {
      <div class="row">
        <div class="col span-1-of-2 box">
          <form method="get" action='/blogs/@Model.GetBlogId()/posts/@Model.GetId()/edit'>
              <button type="submit">Edit</button>
          </form>
        </div>
        <div class="col span-1-of-2 box">
          <form method="post" action='/blogs/@Model.GetId()/edit'>
              <button type="submit">Delete</button>
          </form>
        </div>
      </div>
      }
    </div>
  </div>
</div>
