@using BlogSite.Models;
@using System.Collections.Generic;
@{Layout = "_Layout";}
@Html.Partial("Header")

<h3>@Model.GetTitle()</h3>
<p>@Model.GetContent()
    @Model.GetDate().ToString("MM-dd-yyyy")
</p>

@if(Blog.FindById(Model.GetBlogId()).IsLoggedIn())
{
    <form method="get" action='/blogs/@Model.GetBlogId()/posts/@Model.GetId()/edit'>
        <button type="submit">Edit</button>
    </form>
    <form method="post" action='/blogs/@Model.GetId()/edit'>
        <button type="submit">Delete</button>
    </form>
}