@using BlogSite.Models;
@using System.Collections.Generic;
@{Layout = "_Layout";}
@Html.Partial("Header")

<div class="row">
  <div class="col span-1-of-3 box">
    <div class="form-box-post">
      <div class="post-icon">
        <ion-icon name="contacts"></ion-icon>
      </div>
        <br>
        <h3>@Model.GetDescription()</h3>
        @if(Model.GetBlogs().Count == 0)
        {
            <p>There are currently no blogs associated with this community :/</p>
        }
        else
        {
            foreach(Blog blog in Model.GetBlogs())
            {
                <a href="/blogs/@blog.GetId()">@blog.GetTitle()</a>
            }
        }
        <br><br>
    </div>
  </div>
</div>
