@using BlogSite.Models;
@using System.Collections.Generic;
@{Layout = "_Layout";}
@Html.Partial("Header")


@if(Model.IsLoggedIn())
{
<form action="/blogs/@Model.GetId()/update" method="post">
    <label>Blog Title:</label>
    <input type="text" name="title" value="@Model.GetTitle()" required>
    <label>About this blog:</label>
    <input type="text" name="about" value="@Model.GetAbout()" required>
    <button type="submit">Save</button>
</form>
}
else
{
<p>Are you lost?</p>
}