


<!-- login form -->
<form action="/blogs/login" method="post">
    <label>Username:</label>
    <input type="text" name="username" required>
    <label>Enter a password:</label>
    <input password type="password" name="password" required>
    <label>Password:</label>
    <button type="submit">Log In</button>
</form>
