@using BlogSite.Models;
@using System.Collections.Generic;
@{Layout = "_Layout";}
@Html.Partial("Header")


<!-- signup form -->
<div class="row">
  <div class="col span-1-of-3 box">
    <div class="form-box">
      <form action="/blogs/register" method="post">
        <div>
          <ul>
            <li><ion-icon name="unlock"></ion-icon></li>
            <li><h4>Choose Your Login Info</h4></li>
          </ul>
        </div>
        <div>
          <label>Choose a username:</label>
          <input type="text" id="username" name="username" required><br>
          <label>Enter a password:</label>
          <input password type="password" id="password1" name="password1" required><br>
          <label>Re-enter password:</label>
          <input type="password" id="password2" name="password2" required><br>
        </div>
        <div>
          <button id="register" class="btn btn-full" type="submit">Start A Blog</button>
        </div>
      </form>
      <p hidden id="error-username">Username is already taken!</p>
      <p hidden id="error-password">Password does not match!</p>
    </div>
  </div>
</div>

<p id="allUsers" hidden>@String.Join(' ', Blog.GetAllUsernames())</p>